<!DOCTYPE html>
<html>
  <head>
    <title>PomodoroTeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Baloo+Bhaina|Ewert|Fredericka+the+Great|Josefin+Slab', :media => "all" %>
  </head>

  <body>

    <nav class="navbar navbar-default">
    	<div class="container-fluid">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#"><span class="logo">pomodoro</span><span class="logo-team">Team</span></a>
    		</div>

    		<div class="collapse navbar-collapse" id="navbar">
    			<ul class="nav navbar-nav">
    				<li ><a href="#">Start Pomodoro</a></li>
    				<li><a href="#">Join Team</a></li>
    				<li><a href="#">Invite Member</a></li>
    			</ul>
          <p class="navbar-text navbar-right">Empower Your Team.</p>
    		</div>
    	</div>
    </nav>

    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
          <span class="navbar-brand">
            <span class="logo">pomodoro<span class="logo-team">Team</span></span>
            pomodoro Team</span>

          <span class="collapse navbar-collapse" id="navbar">
			      <ul class="nav navbar-nav">
				      <li><a href="#">Start</a></li>
				      <li><a href="#">Add Member</a></li>
				      <li><a href="#">Open Join URI</a></li>
			      </ul>
		      </span>

        </div>
      </div>
    </nav> -->

  <div class="main-container">

    <%= yield %>

  </div>

  <footer>2016 mashed potato tokyo.</footer>

  </body>
</html>
